* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

#gameCanvas {
    /* see: http://jsfiddle.net/namuol/VAXrL/1459/ */
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    border: solid 3vmin #E8E06B;
    /*max-height: 70vh;*/
    /*max-width: 95vw;*/
}

#startButton {
    background-color: #C0C0C0;
    color: black;
    appearance: unset;
    display: inline-block;
    font-weight: bold;
    max-width: 80vw;
    font-size: 8vmin;
    padding: .25em .33em;
    cursor: pointer;
    border: 0.1875em outset #E0E0E0;
    outline: 0;

    box-shadow: 3vmin 3vmin #006060;
}

#startButton:hover {
    filter: brightness(1.025);
}

#startButton:active {
    filter: none;
    border-style: inset;
    text-indent: 0.1em;
    box-shadow: 1.5vmin 1.5vmin #006060;
    transform: translate(1.5vmin, 1.5vmin);
}

body {
    background-color: #E2889B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

noscript {
    font-size: 4vw;
    font-weight: bold;
    background-color: #d05050;
    color: #f0f0d0;
    padding: .1em .2em;
}

#lyrics {
    font-size: 10vmin;
    color: white;
    -webkit-text-stroke: 0.025em black;
    -webkit-text-fill-color: white;
}
