* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E2889B;
}

.packing #game_canvas {
    background-color: #E8E06B;
    border: solid 3vmin #E8E06B;
}

.packing #lyrics {
    -webkit-text-stroke: 0.025em black;
    -webkit-text-fill-color: white;
}

.welcome body {
    background-image: linear-gradient(#CDA1E0, #FFBD8C);
}

.welcome #game_canvas {
    border-radius: 3vmin;
    background-color: #B7E875;
    border: solid 3vmin #B7E875;
}

.welcome #lyrics {
    -webkit-text-stroke: 0.025em #BC6475;
    -webkit-text-fill-color: #FFFE93;
}

.koala body {
    background-color: #8BB7E5;
}

.koala #game_canvas {
    box-shadow: #29594A 0 0 8vmin;
}

.koala #lyrics {
    font-weight: 600;
    text-shadow: #000000A0 0.05em 0.05em 0.05em;
    -webkit-text-fill-color: #D66290;
}

.aquarium body {
    background-color: #BAEEFF;
}

.aquarium #game_canvas {
    border-radius: 4vmin;
    box-shadow: #00000080 0.3vmin 0.3vmin 4vmin;
}

.aquarium #lyrics {
    font-weight: 600;
    text-shadow: #00000080 0.05em 0.05em 0.1em;
    -webkit-text-fill-color: #FF75CA;
}

.elephants body {
    background-color: #FFDF7F;
}

.elephants #game_canvas {
    border-radius: 30vmin;
}

.elephants #lyrics {
    font-weight: 600;
    -webkit-text-fill-color: #A00000;
}

html {
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

#game_canvas {
    /* see: http://jsfiddle.net/namuol/VAXrL/1459/ */
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    margin-bottom: 3vmin;
}

#start_button {
    background-color: #C0C0C0;
    color: black;
    appearance: unset;
    display: inline-block;
    font-weight: bold;
    max-width: 80vw;
    font-size: 8vmin;
    padding: .25em .33em;
    cursor: pointer;
    border: 0.1875em outset #E0E0E0;
    border-radius: 999px;
    outline: 0;

    box-shadow: 3vmin 3vmin #CC535C;
}

#start_button:hover {
    filter: brightness(1.025);
}

#start_button:active {
    filter: none;
    border-style: inset;
    text-indent: 0.1em;
    box-shadow: 1.5vmin 1.5vmin #CC535C;
    transform: translate(1.5vmin, 1.5vmin);
}

body {
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

noscript {
    font-size: 4vw;
    font-weight: bold;
    background-color: #d05050;
    color: #f0f0d0;
    padding: .1em .2em;
}

#lyrics {
    text-align: center;
    z-index: 100;
    font-size: 9vmin;
}

#lyrics_container {
    flex-grow: 1;
    max-height: 20vh;
    display: flex;
    align-items: center;
}

.invisible {
    display: none;
}

#loading h1:first-child {
    display: inline-block;
    background-color: #CC535C;
    border-radius: 9999px;
    padding: 0.2em 0.5em 0.3em;
    animation: loading 0.5s infinite;
    transform-origin: bottom;
}

#loading h1 {
    margin-top: 0.3em;
    text-align: center;
    font-size: 15vmin;
    color: white;
    -webkit-text-stroke: 0.025em black;
    -webkit-text-fill-color: white;
}

@keyframes loading {
    0% {
        transform: translate(-0.1em, 0) rotate(3deg);
    }
    25% {
        transform: translate(0, 0.1em) rotate(-1deg);
    }
    50% {
        transform: translate(0, 0.1em) scale(1.2, 0.8) rotate(1deg);
    }
    75% {
        transform: translate(0.1em, -0.2em) scale(0.95, 1.05) rotate(-1deg);
    }
}

.shake {
    animation: shake 1s infinite alternate-reverse;
}

@keyframes shake {
    0% {
        transform: translate(-0.05em, 0.05em);
    }
    12% {
        transform: translate(0.05em, -0.05em);
    }
    25% {
        transform: translate(-0.05em, 0.05em);
    }
    37% {
        transform: translate(-0.05em, -0.05em);
    }
    50% {
        transform: translate(0.05em, 0.05em);
    }
    62% {
        transform: translate(-0.05em, -0.05em);
    }
    75% {
        transform: translate(0.05em, 0.05em);
    }
    87% {
        transform: translate(-0.05em, 0.05em);
    }
    100% {
        transform: translate(0.05em, -0.05em);
    }
}
